<div class="row">
    <h1>Actions</h1>
    <table>
        <tr>
            <th>Type</th>
            <th>Cost</th>
            <th>When</th>
        </tr>
        {{#each actions}}
        <tr>
            <td>{{#if (isdefined cost)}}{{type}}{{else}}{{/if}}</td>
            <td>{{#if (isdefined cost)}}{{cost}}{{else}}{{/if}}</td>
            <td>{{#if (isdefined cost)}}{{moment timestamp "HH:mm"}}{{else}}{{/if}}</td>
        </tr>
        {{/each}}
    </table>
</div>

 {{!-- {{#when "riskfactor" "eq" 0}}...{{/when}} --}}
